# Exclude specific files or directories from language detection
map2 linguist-detectable=false
*.txt linguist-detectable=false
assets/* linguist-detectable=false

# Set the primary language of the repository
*.c linguist-language=C
*.h linguist-language=C
*.py linguist-language=Python